<!DOCTYPE html>
<head>
    <style>
        td, tr, th {
            border: 1px solid black;
            margin: 0;
            padding: 5px;
        }
        table {
            border-collapse: collapse;
        }
    </style>

</head>

<body>
    <br>
    <h2>Email to notify the changing of time tracking</h2>
    <table>
        <thead>
            <th>attribute</th>
            <th>old value</th>
            <th>new value</th>
        </thead>
        <tbody>
            {% for key,value in data.items %}
                <tr>
                    <td>{{key}}</td>
                    {% for subkey, subvalue in value.items %}
                    <td> {{ subvalue }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        time : {{time}}
    </p>
</body>
</html>